*{
  margin: 0px;
  padding: 0px;
  box-sizing: ;
}
body{
  background: #1E1E1E;
  font-family: "Mulish", sans-serif;
  font-weight: 700;

  padding: 100px;
}
h1{
  color: #02799D;
  font-size: 58px;
}
h2{
  color: #E1E1E6;
}
p{
  color: #C4C4CC;
  font-weight: 600;
  font-size: 19px;
}
header h2{
  font-size: 32px;

  margin-bottom: 62px;
}
main {
  display: grid;
  grid-template-areas: 
  "A B C"
  "D E F";

  gap: 60px;

  width: 366px;
}
main h2{
  font-size: 35px;
}

.card {
  background-color: #2a2a2a;
  }

